openapi: 3.1.0
info:
  title: Star Therapeutics Content API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind star-therapeutics.com.
  description: >-
    The read-only content surface Star Therapeutics exposes at https://star-therapeutics.com/wp-json.
    Star Therapeutics is a clinical-stage biotechnology company in South San Francisco developing
    best-in-class antibody therapies in hematology and immunology under a hub-and-spoke model whose
    spokes include Vega Therapeutics (VGA039, von Willebrand disease) and Electra Therapeutics
    (ELA-026, secondary HLH). It runs no developer program and markets no product API. This document
    is an API Evangelist derivation of the WordPress `wp/v2` and `oembed/1.0` route index the site
    publishes at /wp-json/, restricted to the operations that were verified to return data
    anonymously on 2026-08-05. Write operations, `/wp/v2/users`, `/wp/v2/settings`, `/wp/v2/menus`,
    `/wp/v2/themes`, `/wp/v2/plugins`, `/wp/v2/block-types`, `/wp/v2/font-collections`,
    `/wp/v2/icons`, the `wp-abilities/v1` namespace, the `jet-engine/v1` MCP namespace and the whole
    plugin-administration surface all require authentication and are deliberately excluded — see
    x-api-evangelist-provenance.
  contact:
    name: Star Therapeutics
    url: https://star-therapeutics.com/
    email: info@star-therapeutics.com
  x-api-evangelist-provenance: >-
    Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at
    https://star-therapeutics.com/wp-json/ (491 routes across 31 namespaces) and verified against
    live anonymous responses on 2026-08-05. Every parameter below appears verbatim in the route
    index `args` for that endpoint, and every collection count in a description was read from the
    `X-WP-Total` response header on that date. Star Therapeutics publishes no OpenAPI, no developer
    documentation and no API reference for this surface; the humanURL in apis.yml points at the
    upstream WordPress REST handbook that defines the wp/v2 contract. The deployment is served by WP
    Engine behind Cloudflare, page HTML is Elementor-rendered, and API responses carry
    `x-robots-tag: noindex`. Nothing here was obtained with credentials.
servers:
  - url: https://star-therapeutics.com/wp-json
    description: Production content API
tags:
  - name: posts
    description: News archive — press releases, news coverage and scientific presentations (28 published at harvest time).
  - name: pages
    description: Corporate pages (11 published at harvest time).
  - name: media
    description: Media library (661 attachments at harvest time).
  - name: taxonomy
    description: Categories and tags. Five categories are registered; the post_tag taxonomy is registered but empty.
  - name: custom-types
    description: Avada theme custom post types (avada_faq, avada_portfolio). Registered and anonymously reachable, but both report zero published items.
  - name: comments
    description: Comment collection. Registered and reachable, but empty — no post on this deployment carries comments.
  - name: search
    description: Cross-content search across published objects.
  - name: discovery
    description: Route, type, taxonomy and status discovery documents.
  - name: oembed
    description: oEmbed 1.0 provider endpoint for star-therapeutics.com URLs.
paths:
  /:
    get:
      tags: [discovery]
      operationId: getApiIndex
      summary: Get the REST API index
      description: >-
        Returns the site index — name, description, URL, home, the registered namespaces, the
        authentication methods, the site logo and icon, and the full 491-entry route table.
      parameters:
        - $ref: '#/components/parameters/Context'
        - name: namespace
          in: query
          description: Restrict the response to a single namespace.
          schema:
            type: string
            examples: ['wp/v2']
      responses:
        '200':
          description: Site index
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIndex'

  /wp/v2/posts:
    get:
      tags: [posts]
      operationId: listPosts
      summary: List news posts
      description: >-
        Lists published posts. On this deployment the collection is the company news archive — 28
        items spanning February 2022 (emergence from stealth) through July 2026 (Incyte's completed
        acquisition of Vega Therapeutics). Paginated; `X-WP-Total` and `X-WP-TotalPages` are exposed
        via `Access-Control-Expose-Headers`.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/SearchColumns'
        - $ref: '#/components/parameters/SearchSemantics'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/ModifiedAfter'
        - $ref: '#/components/parameters/ModifiedBefore'
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/Status'
        - name: author
          in: query
          description: Limit result set to posts assigned to specific authors.
          schema: { type: array, items: { type: integer } }
        - name: author_exclude
          in: query
          description: Ensure result set excludes posts assigned to specific authors.
          schema: { type: array, items: { type: integer } }
        - name: categories
          in: query
          description: Limit result set to items with specific category terms.
          schema: { type: array, items: { type: integer } }
        - name: categories_exclude
          in: query
          description: Limit result set to items except those with specific category terms.
          schema: { type: array, items: { type: integer } }
        - name: tags
          in: query
          description: Limit result set to items with specific post_tag terms.
          schema: { type: array, items: { type: integer } }
        - name: tags_exclude
          in: query
          description: Limit result set to items except those with specific post_tag terms.
          schema: { type: array, items: { type: integer } }
        - name: tax_relation
          in: query
          description: Limit result set based on relationship between multiple taxonomies.
          schema: { type: string, enum: [AND, OR] }
        - name: format
          in: query
          description: Limit result set to items assigned one or more post formats.
          schema: { type: array, items: { type: string } }
        - name: sticky
          in: query
          description: Limit result set to items that are sticky.
          schema: { type: boolean }
        - name: ignore_sticky
          in: query
          description: Whether to ignore sticky posts or not.
          schema: { type: boolean }
        - name: orderby
          in: query
          description: Sort collection by post attribute.
          schema:
            type: string
            enum: [author, date, id, include, modified, parent, relevance, slug, include_slugs, title]
            default: date
      responses:
        '200':
          description: A page of posts
          headers:
            X-WP-Total:
              description: Total number of matching posts.
              schema: { type: integer, examples: [28] }
            X-WP-TotalPages:
              description: Total number of pages available.
              schema: { type: integer, examples: [14] }
            Link:
              description: RFC 8288 pagination links (`rel="next"` / `rel="prev"`).
              schema: { type: string }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Post' }
        '400':
          $ref: '#/components/responses/BadRequest'

  /wp/v2/posts/{id}:
    get:
      tags: [posts]
      operationId: getPost
      summary: Get a news post
      description: Retrieve a single published post by its numeric identifier.
      parameters:
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/Context'
        - name: password
          in: query
          description: The password for the post if it is password protected.
          schema: { type: string }
      responses:
        '200':
          description: A post
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Post' }
        '404':
          $ref: '#/components/responses/NotFound'

  /wp/v2/pages:
    get:
      tags: [pages]
      operationId: listPages
      summary: List pages
      description: >-
        Lists the published corporate pages — 11 at harvest time: Homepage, Our Approach, Leadership,
        News, Careers, Share Your Story, Consumer Health US, Social Landing Page, Members, Privacy
        Policy and Terms of Use.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/SearchColumns'
        - $ref: '#/components/parameters/SearchSemantics'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/ModifiedAfter'
        - $ref: '#/components/parameters/ModifiedBefore'
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/Status'
        - name: author
          in: query
          description: Limit result set to pages assigned to specific authors.
          schema: { type: array, items: { type: integer } }
        - name: author_exclude
          in: query
          description: Ensure result set excludes pages assigned to specific authors.
          schema: { type: array, items: { type: integer } }
        - name: parent
          in: query
          description: Limit result set to items with particular parent identifiers.
          schema: { type: array, items: { type: integer } }
        - name: parent_exclude
          in: query
          description: Limit result set to all items except those of a particular parent identifier.
          schema: { type: array, items: { type: integer } }
        - name: menu_order
          in: query
          description: Limit result set to posts with a specific menu_order value.
          schema: { type: integer }
        - name: orderby
          in: query
          description: Sort collection by post attribute.
          schema:
            type: string
            enum: [author, date, id, include, modified, parent, relevance, slug, include_slugs, title, menu_order]
            default: date
      responses:
        '200':
          description: A page of pages
          headers:
            X-WP-Total:
              description: Total number of matching pages.
              schema: { type: integer, examples: [11] }
            X-WP-TotalPages:
              schema: { type: integer }
              description: Total number of pages available.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Page' }
        '400':
          $ref: '#/components/responses/BadRequest'

  /wp/v2/pages/{id}:
    get:
      tags: [pages]
      operationId: getPage
      summary: Get a page
      description: Retrieve a single published page by its numeric identifier.
      parameters:
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/Context'
        - name: password
          in: query
          description: The password for the page if it is password protected.
          schema: { type: string }
      responses:
        '200':
          description: A page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Page' }
        '404':
          $ref: '#/components/responses/NotFound'

  /wp/v2/media:
    get:
      tags: [media]
      operationId: listMedia
      summary: List media items
      description: >-
        Lists the media library — 661 attachments at harvest time, including the corporate imagery,
        press-release assets and scientific figures used across the site.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/SearchColumns'
        - $ref: '#/components/parameters/SearchSemantics'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/ModifiedAfter'
        - $ref: '#/components/parameters/ModifiedBefore'
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/Status'
        - name: author
          in: query
          description: Limit result set to attachments assigned to specific authors.
          schema: { type: array, items: { type: integer } }
        - name: author_exclude
          in: query
          description: Ensure result set excludes attachments assigned to specific authors.
          schema: { type: array, items: { type: integer } }
        - name: parent
          in: query
          description: Limit result set to items with particular parent identifiers.
          schema: { type: array, items: { type: integer } }
        - name: parent_exclude
          in: query
          description: Limit result set to all items except those of a particular parent identifier.
          schema: { type: array, items: { type: integer } }
        - name: media_type
          in: query
          description: Limit result set to attachments of a particular media type.
          schema:
            type: string
            enum: [image, video, text, application, audio]
        - name: mime_type
          in: query
          description: Limit result set to attachments of a particular MIME type.
          schema: { type: string, examples: ['image/png'] }
        - name: orderby
          in: query
          description: Sort collection by attachment attribute.
          schema:
            type: string
            enum: [author, date, id, include, modified, parent, relevance, slug, include_slugs, title]
            default: date
      responses:
        '200':
          description: A page of media items
          headers:
            X-WP-Total:
              description: Total number of matching attachments.
              schema: { type: integer, examples: [661] }
            X-WP-TotalPages:
              schema: { type: integer }
              description: Total number of pages available.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/MediaItem' }
        '400':
          $ref: '#/components/responses/BadRequest'

  /wp/v2/media/{id}:
    get:
      tags: [media]
      operationId: getMediaItem
      summary: Get a media item
      description: Retrieve a single attachment by its numeric identifier, including its generated size variants.
      parameters:
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A media item
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MediaItem' }
        '404':
          $ref: '#/components/responses/NotFound'

  /wp/v2/categories:
    get:
      tags: [taxonomy]
      operationId: listCategories
      summary: List categories
      description: >-
        Lists category terms. Five are registered on this deployment — Press Release (20 posts),
        News Coverage (7), Presentations (1), Our Perspective (0) and Uncategorized (0).
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Slug'
        - name: hide_empty
          in: query
          description: Whether to hide terms not assigned to any posts.
          schema: { type: boolean, default: false }
        - name: parent
          in: query
          description: Limit result set to terms assigned to a specific parent.
          schema: { type: integer }
        - name: post
          in: query
          description: Limit result set to terms assigned to a specific post.
          schema: { type: integer }
        - name: orderby
          in: query
          description: Sort collection by term attribute.
          schema:
            type: string
            enum: [id, include, name, slug, include_slugs, term_group, description, count]
            default: name
      responses:
        '200':
          description: A page of category terms
          headers:
            X-WP-Total:
              description: Total number of matching terms.
              schema: { type: integer, examples: [5] }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Term' }
        '400':
          $ref: '#/components/responses/BadRequest'

  /wp/v2/categories/{id}:
    get:
      tags: [taxonomy]
      operationId: getCategory
      summary: Get a category
      description: Retrieve a single category term by its numeric identifier.
      parameters:
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A category term
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Term' }
        '404':
          $ref: '#/components/responses/NotFound'

  /wp/v2/tags:
    get:
      tags: [taxonomy]
      operationId: listTags
      summary: List tags
      description: >-
        Lists post_tag terms. The taxonomy is registered and anonymously reachable but empty on this
        deployment (`X-WP-Total: 0`) — Star Therapeutics classifies its news archive with categories
        only.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Slug'
        - name: hide_empty
          in: query
          description: Whether to hide terms not assigned to any posts.
          schema: { type: boolean, default: false }
        - name: post
          in: query
          description: Limit result set to terms assigned to a specific post.
          schema: { type: integer }
      responses:
        '200':
          description: A page of tag terms (empty on this deployment)
          headers:
            X-WP-Total:
              description: Total number of matching terms.
              schema: { type: integer, examples: [0] }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Term' }

  /wp/v2/avada_faq:
    get:
      tags: [custom-types]
      operationId: listAvadaFaq
      summary: List Avada FAQ items
      description: >-
        Lists items of the `avada_faq` custom post type registered by the Avada theme. Anonymously
        reachable but empty on this deployment (`X-WP-Total: 0`).
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Slug'
        - name: faq_category
          in: query
          description: Limit result set to items with specific faq_category terms.
          schema: { type: array, items: { type: integer } }
        - name: faq_category_exclude
          in: query
          description: Limit result set to items except those with specific faq_category terms.
          schema: { type: array, items: { type: integer } }
      responses:
        '200':
          description: A page of FAQ items (empty on this deployment)
          headers:
            X-WP-Total:
              schema: { type: integer, examples: [0] }
              description: Total number of matching items.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Post' }

  /wp/v2/avada_portfolio:
    get:
      tags: [custom-types]
      operationId: listAvadaPortfolio
      summary: List Avada portfolio items
      description: >-
        Lists items of the `avada_portfolio` custom post type registered by the Avada theme.
        Anonymously reachable but empty on this deployment (`X-WP-Total: 0`).
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: A page of portfolio items (empty on this deployment)
          headers:
            X-WP-Total:
              schema: { type: integer, examples: [0] }
              description: Total number of matching items.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Post' }

  /wp/v2/comments:
    get:
      tags: [comments]
      operationId: listComments
      summary: List comments
      description: >-
        Lists approved comments. Anonymously reachable but empty on this deployment
        (`X-WP-Total: 0`) — no Star Therapeutics news item carries comments.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Order'
        - name: post
          in: query
          description: Limit result set to comments assigned to specific post identifiers.
          schema: { type: array, items: { type: integer } }
        - name: parent
          in: query
          description: Limit result set to comments of specific parent identifiers.
          schema: { type: array, items: { type: integer } }
        - name: type
          in: query
          description: Limit result set to comments assigned a specific type.
          schema: { type: string, default: comment }
      responses:
        '200':
          description: A page of comments (empty on this deployment)
          headers:
            X-WP-Total:
              schema: { type: integer, examples: [0] }
              description: Total number of matching comments.
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  /wp/v2/search:
    get:
      tags: [search]
      operationId: searchContent
      summary: Search published content
      description: >-
        Cross-content search across published objects. A query for `star` returned 68 matches at
        harvest time. Each result is a lightweight pointer (id, title, url, type, subtype) that can
        be resolved against the posts, pages or media collections.
      parameters:
        - $ref: '#/components/parameters/Context'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: search
          in: query
          required: true
          description: Limit results to those matching a string.
          schema: { type: string, examples: ['VGA039'] }
        - $ref: '#/components/parameters/Exclude'
        - $ref: '#/components/parameters/Include'
        - name: type
          in: query
          description: Limit results to items of an object type.
          schema: { type: string, enum: [post, term, post-format], default: post }
        - name: subtype
          in: query
          description: Limit results to items of one or more object subtypes.
          schema: { type: array, items: { type: string }, default: [any] }
      responses:
        '200':
          description: A page of search results
          headers:
            X-WP-Total:
              schema: { type: integer, examples: [68] }
              description: Total number of matching objects.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/SearchResult' }
        '400':
          $ref: '#/components/responses/BadRequest'

  /wp/v2/types:
    get:
      tags: [discovery]
      operationId: listPostTypes
      summary: List registered post types
      description: >-
        Returns every registered post type keyed by slug. Nineteen are registered on this
        deployment, including the WordPress core types plus `avada_portfolio`, `avada_faq`,
        `elementor_library`, `elementor_snippet`, `elementskit_content`, `elementskit_template`,
        `e-floating-buttons` and `jet-engine`.
      parameters:
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A map of post types
          content:
            application/json:
              schema:
                type: object
                additionalProperties: { $ref: '#/components/schemas/PostType' }

  /wp/v2/types/{type}:
    get:
      tags: [discovery]
      operationId: getPostType
      summary: Get a registered post type
      description: Returns a single registered post type by slug.
      parameters:
        - name: type
          in: path
          required: true
          description: An alphanumeric identifier for the post type.
          schema: { type: string, examples: ['post'] }
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A post type
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PostType' }
        '404':
          $ref: '#/components/responses/NotFound'

  /wp/v2/taxonomies:
    get:
      tags: [discovery]
      operationId: listTaxonomies
      summary: List registered taxonomies
      description: >-
        Returns every registered taxonomy keyed by slug. Eight are registered on this deployment —
        `category`, `post_tag`, `nav_menu`, `wp_pattern_category`, `portfolio_category`,
        `portfolio_skills`, `portfolio_tags` and `faq_category`.
      parameters:
        - $ref: '#/components/parameters/Context'
        - name: type
          in: query
          description: Limit results to taxonomies associated with a specific post type.
          schema: { type: string }
      responses:
        '200':
          description: A map of taxonomies
          content:
            application/json:
              schema:
                type: object
                additionalProperties: { $ref: '#/components/schemas/Taxonomy' }

  /wp/v2/statuses:
    get:
      tags: [discovery]
      operationId: listStatuses
      summary: List post statuses
      description: >-
        Returns the post statuses visible to the caller. Anonymously this deployment returns only
        `publish`.
      parameters:
        - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A map of post statuses
          content:
            application/json:
              schema:
                type: object
                additionalProperties: { type: object }

  /oembed/1.0/embed:
    get:
      tags: [oembed]
      operationId: getOembed
      summary: Get an oEmbed response for a star-therapeutics.com URL
      description: >-
        The oEmbed 1.0 provider endpoint. Returns provider name, title, author, thumbnail and an
        iframe embed for any URL on star-therapeutics.com.
      parameters:
        - name: url
          in: query
          required: true
          description: The URL of the resource for which to fetch oEmbed data.
          schema: { type: string, format: uri, examples: ['https://star-therapeutics.com/news/'] }
        - name: format
          in: query
          description: The oEmbed format to use.
          schema: { type: string, enum: [json, xml], default: json }
        - name: maxwidth
          in: query
          description: The maximum width of the embed frame in pixels.
          schema: { type: integer, default: 600 }
      responses:
        '200':
          description: An oEmbed 1.0 response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Oembed' }
        '404':
          $ref: '#/components/responses/NotFound'

components:
  parameters:
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in the response.
      schema: { type: string, enum: [view, embed, edit], default: view }
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema: { type: integer, minimum: 1, default: 1 }
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in the result set.
      schema: { type: integer, minimum: 1, maximum: 100, default: 10 }
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema: { type: string }
    SearchColumns:
      name: search_columns
      in: query
      description: Array of column names to be searched.
      schema: { type: array, items: { type: string, enum: [post_title, post_content, post_excerpt] } }
    SearchSemantics:
      name: search_semantics
      in: query
      description: How to interpret the search input.
      schema: { type: string, enum: [exact] }
    After:
      name: after
      in: query
      description: Limit response to posts published after a given ISO 8601 compliant date.
      schema: { type: string, format: date-time }
    Before:
      name: before
      in: query
      description: Limit response to posts published before a given ISO 8601 compliant date.
      schema: { type: string, format: date-time }
    ModifiedAfter:
      name: modified_after
      in: query
      description: Limit response to posts modified after a given ISO 8601 compliant date.
      schema: { type: string, format: date-time }
    ModifiedBefore:
      name: modified_before
      in: query
      description: Limit response to posts modified before a given ISO 8601 compliant date.
      schema: { type: string, format: date-time }
    Exclude:
      name: exclude
      in: query
      description: Ensure result set excludes specific IDs.
      schema: { type: array, items: { type: integer } }
    Include:
      name: include
      in: query
      description: Limit result set to specific IDs.
      schema: { type: array, items: { type: integer } }
    Offset:
      name: offset
      in: query
      description: Offset the result set by a specific number of items.
      schema: { type: integer }
    Order:
      name: order
      in: query
      description: Order sort attribute ascending or descending.
      schema: { type: string, enum: [asc, desc], default: desc }
    Slug:
      name: slug
      in: query
      description: Limit result set to items with one or more specific slugs.
      schema: { type: array, items: { type: string } }
    Status:
      name: status
      in: query
      description: >-
        Limit result set to items assigned one or more statuses. Anonymously only `publish` is
        permitted; any other value returns 400 rest_invalid_param or 401.
      schema: { type: array, items: { type: string }, default: [publish] }
    PathId:
      name: id
      in: path
      required: true
      description: Unique identifier for the object.
      schema: { type: integer }

  responses:
    BadRequest:
      description: Invalid parameter
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Object not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Authentication required for this resource or field
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    RenderedText:
      type: object
      description: WordPress rendered-text object.
      properties:
        rendered: { type: string, description: HTML for the object, transformed for display. }
        protected: { type: boolean, description: Whether the content is protected with a password. }
    Error:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 problem+json.
      required: [code, message, data]
      properties:
        code: { type: string, description: Machine-readable error code., examples: ['rest_post_invalid_id'] }
        message: { type: string, description: Human-readable error message., examples: ['Invalid post ID.'] }
        data:
          type: object
          properties:
            status: { type: integer, description: The HTTP status code., examples: [404] }
            params:
              type: object
              description: Per-parameter messages, present on rest_invalid_param.
              additionalProperties: { type: string }
            details:
              type: object
              description: Per-parameter structured detail, present on rest_invalid_param.
              additionalProperties: { type: object }
    Post:
      type: object
      description: A news post. Field set observed on this deployment, including the Yoast SEO and Avada featured-image extensions.
      properties:
        id: { type: integer }
        date: { type: string, format: date-time }
        date_gmt: { type: string, format: date-time }
        guid: { $ref: '#/components/schemas/RenderedText' }
        modified: { type: string, format: date-time }
        modified_gmt: { type: string, format: date-time }
        slug: { type: string }
        status: { type: string, examples: ['publish'] }
        type: { type: string, examples: ['post'] }
        link: { type: string, format: uri }
        title: { $ref: '#/components/schemas/RenderedText' }
        content: { $ref: '#/components/schemas/RenderedText' }
        excerpt: { $ref: '#/components/schemas/RenderedText' }
        author: { type: integer, description: The ID for the author of the post. }
        author_info: { type: object, description: Author display data added by the theme. }
        featured_media: { type: integer, description: The ID of the featured media attachment. }
        featured_image_src: { description: Direct URL to the featured image, added by the Avada theme., anyOf: [{ type: string }, { type: 'null' }, { type: boolean }] }
        featured_image_src_square: { description: Direct URL to the square featured image variant, added by the Avada theme., anyOf: [{ type: string }, { type: 'null' }, { type: boolean }] }
        comment_status: { type: string, enum: [open, closed] }
        ping_status: { type: string, enum: [open, closed] }
        sticky: { type: boolean }
        template: { type: string }
        format: { type: string }
        meta: { type: object }
        categories: { type: array, items: { type: integer } }
        tags: { type: array, items: { type: integer } }
        class_list: { type: array, items: { type: string } }
        yoast_head: { type: string, description: Rendered Yoast SEO head markup. }
        yoast_head_json: { type: object, description: Structured Yoast SEO metadata including schema.org graph. }
        _links: { type: object, description: HAL-style link relations to author, replies, terms and self. }
    Page:
      type: object
      description: A corporate page.
      properties:
        id: { type: integer }
        date: { type: string, format: date-time }
        date_gmt: { type: string, format: date-time }
        guid: { $ref: '#/components/schemas/RenderedText' }
        modified: { type: string, format: date-time }
        modified_gmt: { type: string, format: date-time }
        slug: { type: string }
        status: { type: string }
        type: { type: string, examples: ['page'] }
        link: { type: string, format: uri }
        title: { $ref: '#/components/schemas/RenderedText' }
        content: { $ref: '#/components/schemas/RenderedText' }
        excerpt: { $ref: '#/components/schemas/RenderedText' }
        author: { type: integer }
        featured_media: { type: integer }
        featured_image_src: { anyOf: [{ type: string }, { type: 'null' }, { type: boolean }] }
        featured_image_src_square: { anyOf: [{ type: string }, { type: 'null' }, { type: boolean }] }
        parent: { type: integer }
        menu_order: { type: integer }
        comment_status: { type: string }
        ping_status: { type: string }
        template: { type: string }
        meta: { type: object }
        class_list: { type: array, items: { type: string } }
        yoast_head: { type: string }
        yoast_head_json: { type: object }
        _links: { type: object }
    MediaItem:
      type: object
      description: A media library attachment.
      properties:
        id: { type: integer }
        date: { type: string, format: date-time }
        date_gmt: { type: string, format: date-time }
        guid: { $ref: '#/components/schemas/RenderedText' }
        modified: { type: string, format: date-time }
        modified_gmt: { type: string, format: date-time }
        slug: { type: string }
        status: { type: string }
        type: { type: string, examples: ['attachment'] }
        link: { type: string, format: uri }
        title: { $ref: '#/components/schemas/RenderedText' }
        author: { type: integer }
        comment_status: { type: string }
        ping_status: { type: string }
        template: { type: string }
        meta: { type: object }
        alt_text: { type: string }
        caption: { $ref: '#/components/schemas/RenderedText' }
        description: { $ref: '#/components/schemas/RenderedText' }
        media_type: { type: string, enum: [image, file] }
        mime_type: { type: string }
        media_details: { type: object, description: Width, height, file, filesize and the generated size variants. }
        post: { anyOf: [{ type: integer }, { type: 'null' }], description: The ID for the associated post. }
        source_url: { type: string, format: uri, description: Direct URL to the original file. }
        filename: { type: string }
        filesize: { type: integer }
        featured_media: { type: integer }
        class_list: { type: array, items: { type: string } }
        _links: { type: object }
    Term:
      type: object
      description: A taxonomy term (category or tag).
      properties:
        id: { type: integer }
        count: { type: integer, description: Number of published posts assigned to the term. }
        description: { type: string }
        link: { type: string, format: uri }
        name: { type: string }
        slug: { type: string }
        taxonomy: { type: string, examples: ['category'] }
        parent: { type: integer }
        meta: { type: object }
        _links: { type: object }
    SearchResult:
      type: object
      description: A lightweight cross-content search hit.
      properties:
        id: { type: integer }
        title: { type: string }
        url: { type: string, format: uri }
        type: { type: string, examples: ['post'] }
        subtype: { type: string, examples: ['page'] }
        _links: { type: object }
    PostType:
      type: object
      description: A registered post type.
      properties:
        name: { type: string }
        slug: { type: string }
        description: { type: string }
        hierarchical: { type: boolean }
        has_archive: { anyOf: [{ type: boolean }, { type: string }] }
        icon: { anyOf: [{ type: string }, { type: 'null' }] }
        taxonomies: { type: array, items: { type: string } }
        rest_base: { type: string }
        rest_namespace: { type: string }
        _links: { type: object }
    Taxonomy:
      type: object
      description: A registered taxonomy.
      properties:
        name: { type: string }
        slug: { type: string }
        description: { type: string }
        types: { type: array, items: { type: string } }
        hierarchical: { type: boolean }
        rest_base: { type: string }
        rest_namespace: { type: string }
        _links: { type: object }
    Oembed:
      type: object
      description: An oEmbed 1.0 rich response.
      properties:
        version: { type: string, examples: ['1.0'] }
        provider_name: { type: string, examples: ['STAR Therapeutics'] }
        provider_url: { type: string, format: uri }
        author_name: { type: string }
        author_url: { type: string, format: uri }
        title: { type: string }
        type: { type: string, examples: ['rich'] }
        width: { type: integer }
        height: { type: integer }
        html: { type: string, description: The iframe embed markup. }
        thumbnail_url: { type: string, format: uri }
        thumbnail_width: { type: integer }
        thumbnail_height: { type: integer }
    ApiIndex:
      type: object
      description: The REST API site index.
      properties:
        name: { type: string, examples: ['STAR Therapeutics'] }
        description: { type: string }
        url: { type: string, format: uri }
        home: { type: string, format: uri }
        gmt_offset: { type: number }
        timezone_string: { type: string, examples: ['America/Chicago'] }
        namespaces: { type: array, items: { type: string } }
        authentication: { description: Registered authentication methods. Empty on this deployment., anyOf: [{ type: array }, { type: object }] }
        routes: { type: object, description: The full route table keyed by route pattern. }
        site_logo: { type: integer }
        site_icon_url: { type: string, format: uri }
        _links: { type: object }
