openapi: 3.2.0
info:
  title: Star Therapeutics Content Media API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind star-therapeutics.com.
  description: The read-only content surface Star Therapeutics exposes at https://star-therapeutics.com/wp-json.
  contact:
    name: Star Therapeutics
    url: https://star-therapeutics.com/
    email: info@star-therapeutics.com
  x-api-evangelist-provenance: 'Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://star-therapeutics.com/wp-json/ (491 routes across 31 namespaces) and verified against live anonymous responses on 2026-08-05. Every parameter below appears verbatim in the route index `args` for that endpoint, and every collection count in a description was read from the `X-WP-Total` response header on that date. Star Therapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. The deployment is served by WP Engine behind Cloudflare, page HTML is Elementor-rendered, and API responses carry `x-robots-tag: noindex`. Nothing here was obtained with credentials.'
servers:
- url: https://star-therapeutics.com/wp-json
  description: Production content API
tags:
- name: Media
  description: Media library (661 attachments at harvest time).
paths:
  /wp/v2/media:
    get:
      tags:
      - Media
      operationId: listMedia
      summary: List media items
      description: Lists the media library — 661 attachments at harvest time, including the corporate imagery, press-release assets and scientific figures used across the site.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/SearchColumns'
      - $ref: '#/components/parameters/SearchSemantics'
      - $ref: '#/components/parameters/After'
      - $ref: '#/components/parameters/Before'
      - $ref: '#/components/parameters/ModifiedAfter'
      - $ref: '#/components/parameters/ModifiedBefore'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/Slug'
      - $ref: '#/components/parameters/Status'
      - name: author
        in: query
        description: Limit result set to attachments assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
      - name: author_exclude
        in: query
        description: Ensure result set excludes attachments assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
      - name: parent
        in: query
        description: Limit result set to items with particular parent identifiers.
        schema:
          type: array
          items:
            type: integer
      - name: parent_exclude
        in: query
        description: Limit result set to all items except those of a particular parent identifier.
        schema:
          type: array
          items:
            type: integer
      - name: media_type
        in: query
        description: Limit result set to attachments of a particular media type.
        schema:
          type: string
          enum:
          - image
          - video
          - text
          - application
          - audio
      - name: mime_type
        in: query
        description: Limit result set to attachments of a particular MIME type.
        schema:
          type: string
          examples:
          - image/png
      - name: orderby
        in: query
        description: Sort collection by attachment attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      responses:
        '200':
          description: A page of media items
          headers:
            X-WP-Total:
              description: Total number of matching attachments.
              schema:
                type: integer
                examples:
                - 661
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total number of pages available.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MediaItem'
        '400':
          $ref: '#/components/responses/BadRequest'
  /wp/v2/media/{id}:
    get:
      tags:
      - Media
      operationId: getMediaItem
      summary: Get a media item
      description: Retrieve a single attachment by its numeric identifier, including its generated size variants.
      parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A media item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaItem'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        minimum: 1
        default: 1
    Exclude:
      name: exclude
      in: query
      description: Ensure result set excludes specific IDs.
      schema:
        type: array
        items:
          type: integer
    ModifiedAfter:
      name: modified_after
      in: query
      description: Limit response to posts modified after a given ISO 8601 compliant date.
      schema:
        type: string
        format: date-time
    SearchColumns:
      name: search_columns
      in: query
      description: Array of column names to be searched.
      schema:
        type: array
        items:
          type: string
          enum:
          - post_title
          - post_content
          - post_excerpt
    PathId:
      name: id
      in: path
      required: true
      description: Unique identifier for the object.
      schema:
        type: integer
    Include:
      name: include
      in: query
      description: Limit result set to specific IDs.
      schema:
        type: array
        items:
          type: integer
    Slug:
      name: slug
      in: query
      description: Limit result set to items with one or more specific slugs.
      schema:
        type: array
        items:
          type: string
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    Offset:
      name: offset
      in: query
      description: Offset the result set by a specific number of items.
      schema:
        type: integer
    After:
      name: after
      in: query
      description: Limit response to posts published after a given ISO 8601 compliant date.
      schema:
        type: string
        format: date-time
    Order:
      name: order
      in: query
      description: Order sort attribute ascending or descending.
      schema:
        type: string
        enum:
        - asc
        - desc
        default: desc
    Before:
      name: before
      in: query
      description: Limit response to posts published before a given ISO 8601 compliant date.
      schema:
        type: string
        format: date-time
    SearchSemantics:
      name: search_semantics
      in: query
      description: How to interpret the search input.
      schema:
        type: string
        enum:
        - exact
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in the result set.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    ModifiedBefore:
      name: modified_before
      in: query
      description: Limit response to posts modified before a given ISO 8601 compliant date.
      schema:
        type: string
        format: date-time
    Status:
      name: status
      in: query
      description: Limit result set to items assigned one or more statuses. Anonymously only `publish` is permitted; any other value returns 400 rest_invalid_param or 401.
      schema:
        type: array
        items:
          type: string
        default:
        - publish
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in the response.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
  responses:
    NotFound:
      description: Object not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid parameter
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 problem+json.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error code.
          examples:
          - rest_post_invalid_id
        message:
          type: string
          description: Human-readable error message.
          examples:
          - Invalid post ID.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status code.
              examples:
              - 404
            params:
              type: object
              description: Per-parameter messages, present on rest_invalid_param.
              additionalProperties:
                type: string
            details:
              type: object
              description: Per-parameter structured detail, present on rest_invalid_param.
              additionalProperties:
                type: object
    MediaItem:
      type: object
      description: A media library attachment.
      properties:
        id:
          type: integer
        date:
          type: string
          format: date-time
        date_gmt:
          type: string
          format: date-time
        guid:
          $ref: '#/components/schemas/RenderedText'
        modified:
          type: string
          format: date-time
        modified_gmt:
          type: string
          format: date-time
        slug:
          type: string
        status:
          type: string
        type:
          type: string
          examples:
          - attachment
        link:
          type: string
          format: uri
        title:
          $ref: '#/components/schemas/RenderedText'
        author:
          type: integer
        comment_status:
          type: string
        ping_status:
          type: string
        template:
          type: string
        meta:
          type: object
        alt_text:
          type: string
        caption:
          $ref: '#/components/schemas/RenderedText'
        description:
          $ref: '#/components/schemas/RenderedText'
        media_type:
          type: string
          enum:
          - image
          - file
        mime_type:
          type: string
        media_details:
          type: object
          description: Width
          height: null
          file: null
          filesize and the generated size variants.: null
        post:
          anyOf:
          - type: integer
          - type: 'null'
          description: The ID for the associated post.
        source_url:
          type: string
          format: uri
          description: Direct URL to the original file.
        filename:
          type: string
        filesize:
          type: integer
        featured_media:
          type: integer
        class_list:
          type: array
          items:
            type: string
        _links:
          type: object
    RenderedText:
      type: object
      description: WordPress rendered-text object.
      properties:
        rendered:
          type: string
          description: HTML for the object
          transformed for display.: null
        protected:
          type: boolean
          description: Whether the content is protected with a password.
