openapi: 3.2.0
info:
  title: Star Therapeutics Content Oembed API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind star-therapeutics.com.
  description: The read-only content surface Star Therapeutics exposes at https://star-therapeutics.com/wp-json. Star Therapeutics is a clinical-stage biotechnology company in South San Francisco developing best-in-class antibody therapies in hematology and immunology under a hub-and-spoke model whose spokes include Vega Therapeutics (VGA039, von Willebrand disease) and Electra Therapeutics (ELA-026, secondary HLH). It runs no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress `wp/v2` and `oembed/1.0` route index the site publishes at /wp-json/, restricted to the operations that were verified to return data anonymously on 2026-08-05. Write operations, `/wp/v2/users`, `/wp/v2/settings`, `/wp/v2/menus`, `/wp/v2/themes`, `/wp/v2/plugins`, `/wp/v2/block-types`, `/wp/v2/font-collections`, `/wp/v2/icons`, the `wp-abilities/v1` namespace, the `jet-engine/v1` MCP namespace and the whole plugin-administration surface all require authentication and are deliberately excluded — see x-api-evangelist-provenance.
  contact:
    name: Star Therapeutics
    url: https://star-therapeutics.com/
    email: info@star-therapeutics.com
  x-api-evangelist-provenance: 'Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://star-therapeutics.com/wp-json/ (491 routes across 31 namespaces) and verified against live anonymous responses on 2026-08-05. Every parameter below appears verbatim in the route index `args` for that endpoint, and every collection count in a description was read from the `X-WP-Total` response header on that date. Star Therapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. The deployment is served by WP Engine behind Cloudflare, page HTML is Elementor-rendered, and API responses carry `x-robots-tag: noindex`. Nothing here was obtained with credentials.'
servers:
- url: https://star-therapeutics.com/wp-json
  description: Production content API
tags:
- name: oembed
  description: oEmbed 1.0 provider endpoint for star-therapeutics.com URLs.
paths:
  /oembed/1.0/embed:
    get:
      tags:
      - oembed
      operationId: getOembed
      summary: Get an oEmbed response for a star-therapeutics.com URL
      description: The oEmbed 1.0 provider endpoint. Returns provider name, title, author, thumbnail and an iframe embed for any URL on star-therapeutics.com.
      parameters:
      - name: url
        in: query
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
        schema:
          type: string
          format: uri
          examples:
          - https://star-therapeutics.com/news/
      - name: format
        in: query
        description: The oEmbed format to use.
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: maxwidth
        in: query
        description: The maximum width of the embed frame in pixels.
        schema:
          type: integer
          default: 600
      responses:
        '200':
          description: An oEmbed 1.0 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Oembed'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Object not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 problem+json.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error code.
          examples:
          - rest_post_invalid_id
        message:
          type: string
          description: Human-readable error message.
          examples:
          - Invalid post ID.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status code.
              examples:
              - 404
            params:
              type: object
              description: Per-parameter messages, present on rest_invalid_param.
              additionalProperties:
                type: string
            details:
              type: object
              description: Per-parameter structured detail, present on rest_invalid_param.
              additionalProperties:
                type: object
    Oembed:
      type: object
      description: An oEmbed 1.0 rich response.
      properties:
        version:
          type: string
          examples:
          - '1.0'
        provider_name:
          type: string
          examples:
          - STAR Therapeutics
        provider_url:
          type: string
          format: uri
        author_name:
          type: string
        author_url:
          type: string
          format: uri
        title:
          type: string
        type:
          type: string
          examples:
          - rich
        width:
          type: integer
        height:
          type: integer
        html:
          type: string
          description: The iframe embed markup.
        thumbnail_url:
          type: string
          format: uri
        thumbnail_width:
          type: integer
        thumbnail_height:
          type: integer
