openapi: 3.2.0
info:
  title: Star Therapeutics Content Custom Types API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind star-therapeutics.com.
  description: The read-only content surface Star Therapeutics exposes at https://star-therapeutics.com/wp-json.
  contact:
    name: Star Therapeutics
    url: https://star-therapeutics.com/
    email: info@star-therapeutics.com
  x-api-evangelist-provenance: 'Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://star-therapeutics.com/wp-json/ (491 routes across 31 namespaces) and verified against live anonymous responses on 2026-08-05. Every parameter below appears verbatim in the route index `args` for that endpoint, and every collection count in a description was read from the `X-WP-Total` response header on that date. Star Therapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. The deployment is served by WP Engine behind Cloudflare, page HTML is Elementor-rendered, and API responses carry `x-robots-tag: noindex`. Nothing here was obtained with credentials.'
servers:
- url: https://star-therapeutics.com/wp-json
  description: Production content API
tags:
- name: custom-types
  description: Avada theme custom post types (avada_faq, avada_portfolio). Registered and anonymously reachable, but both report zero published items.
paths:
  /wp/v2/avada_faq:
    get:
      tags:
      - custom-types
      operationId: listAvadaFaq
      summary: List Avada FAQ items
      description: 'Lists items of the `avada_faq` custom post type registered by the Avada theme. Anonymously reachable but empty on this deployment (`X-WP-Total: 0`).'
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/Slug'
      - name: faq_category
        in: query
        description: Limit result set to items with specific faq_category terms.
        schema:
          type: array
          items:
            type: integer
      - name: faq_category_exclude
        in: query
        description: Limit result set to items except those with specific faq_category terms.
        schema:
          type: array
          items:
            type: integer
      responses:
        '200':
          description: A page of FAQ items (empty on this deployment)
          headers:
            X-WP-Total:
              schema:
                type: integer
                examples:
                - 0
              description: Total number of matching items.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
  /wp/v2/avada_portfolio:
    get:
      tags:
      - custom-types
      operationId: listAvadaPortfolio
      summary: List Avada portfolio items
      description: 'Lists items of the `avada_portfolio` custom post type registered by the Avada theme. Anonymously reachable but empty on this deployment (`X-WP-Total: 0`).'
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: A page of portfolio items (empty on this deployment)
          headers:
            X-WP-Total:
              schema:
                type: integer
                examples:
                - 0
              description: Total number of matching items.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
components:
  schemas:
    Post:
      type: object
      description: A news post. Field set observed on this deployment, including the Yoast SEO and Avada featured-image extensions.
      properties:
        id:
          type: integer
        date:
          type: string
          format: date-time
        date_gmt:
          type: string
          format: date-time
        guid:
          $ref: '#/components/schemas/RenderedText'
        modified:
          type: string
          format: date-time
        modified_gmt:
          type: string
          format: date-time
        slug:
          type: string
        status:
          type: string
          examples:
          - publish
        type:
          type: string
          examples:
          - post
        link:
          type: string
          format: uri
        title:
          $ref: '#/components/schemas/RenderedText'
        content:
          $ref: '#/components/schemas/RenderedText'
        excerpt:
          $ref: '#/components/schemas/RenderedText'
        author:
          type: integer
          description: The ID for the author of the post.
        author_info:
          type: object
          description: Author display data added by the theme.
        featured_media:
          type: integer
          description: The ID of the featured media attachment.
        featured_image_src:
          description: Direct URL to the featured image
          added by the Avada theme.: null
          anyOf:
          - type: string
          - type: 'null'
          - type: boolean
        featured_image_src_square:
          description: Direct URL to the square featured image variant
          added by the Avada theme.: null
          anyOf:
          - type: string
          - type: 'null'
          - type: boolean
        comment_status:
          type: string
          enum:
          - open
          - closed
        ping_status:
          type: string
          enum:
          - open
          - closed
        sticky:
          type: boolean
        template:
          type: string
        format:
          type: string
        meta:
          type: object
        categories:
          type: array
          items:
            type: integer
        tags:
          type: array
          items:
            type: integer
        class_list:
          type: array
          items:
            type: string
        yoast_head:
          type: string
          description: Rendered Yoast SEO head markup.
        yoast_head_json:
          type: object
          description: Structured Yoast SEO metadata including schema.org graph.
        _links:
          type: object
          description: HAL-style link relations to author
          replies: null
          terms and self.: null
    RenderedText:
      type: object
      description: WordPress rendered-text object.
      properties:
        rendered:
          type: string
          description: HTML for the object
          transformed for display.: null
        protected:
          type: boolean
          description: Whether the content is protected with a password.
  parameters:
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        minimum: 1
        default: 1
    Slug:
      name: slug
      in: query
      description: Limit result set to items with one or more specific slugs.
      schema:
        type: array
        items:
          type: string
    Order:
      name: order
      in: query
      description: Order sort attribute ascending or descending.
      schema:
        type: string
        enum:
        - asc
        - desc
        default: desc
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in the response.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in the result set.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
